<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppLista.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02AC60DB1E37FF0D004D42D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02AC60EF1E37FF0E004D42D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02AC60FA1E37FF0E004D42D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
